<h1>Pets of the Owner</h1>
  <%@owner.pets.each do |pet|%>
    <p><%=link_to pet.name, owner_pet_path(@owner, pet)%></p>
  <%end%>

  <%=link_to "[Add pets]", new_owner_pet_path(@owner.pet)%>


<%=link_to "[Edit owner]", edit_owner_path(@owner.id)%>
